.carousel {
  padding-bottom: 2%;
  padding-top: 4%;
}

.carousel-inner {
  display: block;
  height: 540px;
}

.carousel {
  color: white;
  background: #233640;
}

/* ==========================================================================
   - 2.1.4  SMALL DEVICES, TABLETS
   ========================================================================== */

@media only screen and (max-width: 500px) {
  .carousel {
    height: 250px;
  }
}
