<div class="row form">
  <h2 class="text-center"> CONNECT WITH US </h2>
  <div class="col-sm-12 col-md-12 text-center">
     <span class="outer-line"></span>
     <span class="fas fa-star" aria-hidden="true" style="margin:10px 0"></span>
     <span class="outer-line"></span>
  </div>
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <div class="row border">
      <div class="col-md-6 col-sm-6 text-center cursor disabled" id="up" (click)="showSignUpForm()"><h4>Sign Up</h4></div>
      <div class="col-md-6 col-sm-6 text-center border-left cursor" id="in" (click)="showSignInForm()"><h4>Sign In</h4></div>
      <app-sign-up class="col-md-12 col-sm-12" *ngIf="showSignUp"> </app-sign-up>
      <app-sign-in class="col-md-12 col-sm-12" *ngIf="showSignIn"> </app-sign-in>
    </div>
  </div>
</div>
