<div class="row text-center ">
  <div class="col-md-3 no-padding">
    <nav id="sidebar">
            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <h2>Dashboard</h2>
            </div>

            <!-- Sidebar categories -->
            <ul class="list-unstyled components">
                <li class="active"><a href="#">HOME</a></li>
                <li *ngFor="let category of categoryList"
                  (click)=getCategoryItems(category)>
                    <a>{{category.title}}</a>
                </li>
            </ul>
      </nav>
  </div>

  <div class="col-md-9 categories-dashboard">
   <app-categories-page-content *ngIf="displayEdit" [itemList] = "itemListFromParent" [tableHeader]= "categoryHeader"></app-categories-page-content>   
  </div>
</div>
